* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    font-family: 'Proxima Nova', Arial;
    color: #455569;
}

/* headings and logo */

h1 {
    font-family: 'Helvetica', 'Sans Serif';
    text-transform: uppercase;
    color: #6B8C83;
}

#logo {
    float: left;
    margin-left: 10px;
    font-size: 300%;
}

#navigation, #logo {
    line-height: 90px;
}

#navigation {
    font-size: large;
    letter-spacing: 2px;
}

#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 10px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    color: #817191;
    border-bottom: 1px solid #817191;
}