* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    font-family: Proxima Nova, Arial;
    color: #455569;
}


/* headings and logo */

h1 {
    font-family: 'Helvetica', 'Sans Serif';
    color: #354B45;
}

#logo {
    float: left;
    margin-left: 50px;
    font-size: 300%;
}

#navigation, #logo {
    line-height: 90px;
}

#navigation {
    font-size: large;
    letter-spacing: 2px;
}

#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    color: #817191;
    border-bottom: 1px solid #817191;
}

/* home page image and text */

.background {
    background-image: url('../images/hiking-with-dogs-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 140vh;
    opacity: 0.5;
    z-index: -1;
    top: 80px;
}

.welcome-text {
    position: absolute;
    top: 25%;
    left: 5%;
    color: #354B45;
    font-family: Helvetica, sans-serif;
    font-size: 120%;
    font-style: italic;
}

.transbox div {
    background-color: rgba(159, 194, 184, 0.4);
    padding: 2%;
    border-radius: 20px;
}

/* Meet up info */

#meet-ups {
    display: flex;
    position: relative;
    bottom: 200px;
}

#meet-ups div {
    color: #354B45;
    background-color: rgba(159, 194, 184, 0.4);
    border-radius: 20px;
    width: 20%;
    margin: 0 0 80px 10px;
    padding: 20px;
}

/* footer */

footer > ul {
    text-align: center;
    list-style-type: none;
    height: 50px;
    font-size: 200%;

}

.socials > li {
    margin: 1%;
    padding: 5%;
    color: #354B45;
    display: inline;
}

/* gallery */

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5%;
    
}

.box .gallery {
    display: flex;
    flex-direction: column;
    width: 60%;

}