* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    font-family: 'Proxima Nova', Arial;
    color: #455569;
}

/* headings and logo */

h1 {
    font-family: 'Helvetica', 'Sans Serif';
    color: #354B45;
}

#logo {
    float: left;
    margin-left: 50px;
    font-size: 300%;
}

#navigation, #logo {
    line-height: 90px;
}

#navigation {
    font-size: large;
    letter-spacing: 2px;
}

#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    color: #817191;
    border-bottom: 1px solid #817191;
}

/* header image and text */

#header-image {
    height: 1500px;
    width: 100%;
    background: url(../images/hiking-with-dogs-header.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0.5;
}

#header-free {
    height: 1500px;
    width: 100%;
    overflow: hidden;
}

.overlay h2 {
    position: absolute;
    top: 33%;
    left: 5%;
    color: #354B45;
    font-family: Helvetica, sans-serif;
    font-size: 200%;
    font-style: italic;
}

